<div
  id="testing-container"
  fxLayout="column"
  fxLayoutAlign="center center"
  fxLayoutGap="1rem"
>
  <mat-card>
    <div fxLayout="column" fxLayoutGap="1rem">
      <div fxLayout fxLayoutAlign="center center" fxLayoutGap="1rem">
        <p>trigger the loading spinner (close it by clicking on it)</p>
        <button mat-raised-button (click)="setLoading()">set loading</button>
      </div>

      <mat-divider inset="true"></mat-divider>

      <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1rem">
        <div>
          <p>login with test user</p>
          <button mat-raised-button (click)="loginWithEmail()">login</button>
        </div>

        <div>
          <p>logout</p>
          <button mat-raised-button (click)="logout()">logout</button>
        </div>
      </div>
    </div>
  </mat-card>

  <mat-card>
    <div fxLayout="column" fxLayoutGap="1rem">
      <div>
        <h1>Application state</h1>
        {{ state$ | async | json }}
      </div>
      <div>
        {{ user$ | async | json }}
      </div>
    </div>
  </mat-card>

  <mat-card *ngIf="notifications$ | async as notifications">
    <div *ngFor="let notification of notifications">
      {{ notification | json}}
    </div>

  </mat-card>
</div>
