<div id="login-container">
  <mat-card>
    <!-- email login fields -->

    <div fxLayout="column" fxLayoutGap="1rem">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div fxLayout="column" fxLayoutAlign="center center">
          <mat-form-field appearance="fill" fxFlex="calc(50%-1rem)">
            <mat-label>Email</mat-label>
            <input
              matInput
              formControlName="email"
              placeholder="max@muster.com"
            />
          </mat-form-field>
          <mat-form-field appearance="fill" fxFlex="calc(50%-1rem)">
            <mat-label>Passwort</mat-label>
            <input
              matInput
              formControlName="password"
              placeholder="password"
              type="password"
            />
          </mat-form-field>

          <div fxLayout fxLayoutAlign="center">
            <button mat-raised-button color="primary" type="submit">
              Login
            </button>
          </div>
        </div>
      </form>
      <mat-divider inset="true"></mat-divider>
      <div fxLayout="column" fxLayoutGap="1rem" fxLayoutAlign="center center">
        <button mat-raised-button (click)="loginWithGoogle()">google</button>
      </div>
    </div>
  </mat-card>
</div>
