#root {
  height: 100%;
}

#main-content {
  background-color: lightseagreen;
  height: 100%;
}

#navbar {
  min-height: 70px;
}

#loading-overlay {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.6);
}

app-notifications {
  margin: 1rem;
  position: absolute;
  z-index: 10;

}
