<!-- Menu -->
<!-- TODO how can we use fxFlex in the toolbar?? -->
<div fxLayout="column" fxLayoutAlign="space-between">
  <mat-toolbar id="navbar" fxLayout="row" fxFlex>
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <span routerLink="/">RM Dittingen 2022</span>
    <div fxFlex></div>

      <button mat-button routerLink="registration">Anmelden</button>
  </mat-toolbar>

  <!-- Main content -->
  <div id="main-content" class="container" fxLayout="column">
    <router-outlet></router-outlet>

    <div fxLayout fxLayoutAlign="center">&copy; Segelflugruppe Dittingen</div>
  </div>
</div>
