#main-content {
  padding: 1rem;
  background-color: salmon;
  width: 100%;
}

#footer {
  height: 2rem;
}

#test1 {
  background-color: lightcoral;
}

#test2 {
  background-color: lightgreen;
}

#test2 {
  background-color: lightblue;
}