<!-- Menu -->
<!-- TODO how can we use fxFlex in the toolbar?? -->
<div fxLayout="column" fxLayoutAlign="space-between" id="root">
  <mat-toolbar id="navbar" fxLayout="row" fxFlex>
    <span routerLink="/">RM Dittingen 2022</span>
    <div fxFlex></div>

      <button mat-button routerLink="registration">Anmelden</button>
      <button mat-button routerLink="participants">Teilnehmer</button>
      <button mat-button routerLink="sponsoring">Sponsoring</button>
      <button mat-button routerLink="Contact">Kontakt</button>
      <mat-divider inset="true" vertical="true"></mat-divider>
      <div fxLayout fxLayoutGap="0.5rem">
      <button mat-raised-button color="seconday" routerLink="registration" >Anmelden</button>
      <button mat-raised-button color="primary" routerLink="login" >Login</button>
</div>

  </mat-toolbar>

  <!-- Main content -->
  <div id="main-content" class="container" fxLayout="column" fxFlex>
    <router-outlet></router-outlet>
  </div>

  <div fxLayout fxLayoutAlign="center">&copy; Segelflugruppe Dittingen</div>
</div>
