header {
  background-image: url("/assets/flugplatz_dittingen.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 500px;
}

#header-image {
  background-color: beige;
  width: 100%;
  height: 500px;
}