<mat-card class="notification">
  <div fxLayout fxLayoutAlign="space-between begin" fxLayoutGap="1rem">
    <div fxLayout="column" fxLayoutGap="1rem">
      <div class="notification-title">{{ notification.title }}</div>
      <ng-container *ngIf="notification.message">
        <mat-divider [inset]="true"></mat-divider>
        <div class="notification-body">
          {{ notification.message }}
        </div>
      </ng-container>
    </div>
    <mat-icon (click)="closeNotification(notification)">close</mat-icon>
  </div>
</mat-card>
